body {
  background: #474747;
  margin: 100px;
}

.bigtext {
  font-size: 25em;
  font-family: 'IM Fell English';
  color: #222;
  text-shadow: 0px 2px 3px #555;
  line-height: 65%;
}

.smalltext{
  font-size: 2.7em;
  font-family: monospace;
  color: #222;
  text-shadow: 0px 2px 3px #555;
  margin-left: 24px;
}

a{
  text-decoration: none;
  color: #222;
  text-shadow: 0px 2px 3px #555;
}

a:hover{
  color: #999;
  text-shadow: 0px 3px 8px #2a2a2a;
}

hr{
  width: 800px;
  padding: 0;
  border: none;
  border-top: medium double #333;
  color: #333;
  text-align: center;
  align: left;
}
hr:after {
  display: inline-block;
  position: relative; 
  top: -0.7em;  
  font-size: 1.5em;
  padding: 0 0.25em;
}

#content {
  width: 40%; 
  height: 80%;
  padding: 20px;
  position: absolute;
  top: 70px;
  right: 100px;
  background: #222; 
  font-size: 22px; 
  color: #555; 
  text-shadow: 0px 2px 3px #171717;

  -webkit-box-shadow: 0px 2px 3px #555;
  -moz-box-shadow: 0px 2px 3px #555;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
}
